@media screen and (min-width: 200px) and (max-width: 767px) {
  .container {
    min-width: 240px;
    margin: 0 auto;
  }
  .section {
    padding: 60px 0;
  }
  .banner__title {
    font-size: 26px;
    line-height: 1.17;
  }
  .activities__title {
    font-size: 26px;
    line-height: 1.17;
  }
  .staff-section__title {
    font-size: 26px;
    line-height: 1.17;
  }
  .customers-container__title {
    font-size: 26px;
    line-height: 1.17;
  }
  .backdrop {
    &-container {
      width: 450px;
      height: 609px;
    }
    &__title {
      width: 370px;
      padding-left: 40px;
    }
  }

  .terms {
    font-size: 12px;
    line-height: 1.21;
    &__mark {
      bottom: 118px;
      left: 46px;
    }
  }

  .page-header__container {
    padding: 16px 15px;
  }

  .banner {
    min-width: 240px;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.2)),
      url(/images/banner-img-M.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
      font-size: 26px;
      line-height: 1.61;
      width: 360px;
      margin: 0 auto;
    }
  }
  .features-list {
    flex-direction: column;
    &__image {
      max-width: 450px;
    }

    &__svg {
      max-width: 450px;
    }
  }
  .activities {
    display: none;
  }
  .staff-section {
    min-width: 480px;
  }
  .staff-list {
    flex-direction: column;
    &__item {
      max-width: 450px;
      margin: 0 auto;
    }
  }
  .customers-container__list {
    flex-wrap: wrap;
  }
  .customers-container__window {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  .footer-page {
    min-width: 480px;

    &__logo {
      text-align: center;
    }
    &__tablet {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .adress-footer {
    align-items: center;
    padding-bottom: 0px;
  }

  .socials {
    &__title {
      text-align: center;
      padding-top: 0;
    }
  }
  .footer-form {
    &__title {
      padding-top: 0;
      text-align: center;
    }
    &__input {
      width: 450px;
    }
    &__input-window {
      flex-direction: column;
      align-items: center;
    }
    &__button {
      width: 250px;
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 200px) and (min-resolution: 192dpi),
    screen and (min-width: 200px) and (min-resolution: 2dppx) {
    .banner__main {
      min-width: 200px;
      margin: 0 auto;
      background: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.2)),
        url(/images/banner-img-M@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
